<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No existen resultados para: {{ termino }}</h4>
      <p>Favor de intentar nuevamente con otros datos para busqueda.</p>
      <p class="mb-0">GRACIAS :)</p>
    </div>
  </div>
</div>


<div class="row animated fadeIn fast" *ngIf="heroes.length >= 1">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">
      <h2 class="alert-heading">Resultados de la busqueda para: {{ termino }}</h2>
    </div>
  </div>
</div>

<hr>
<div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>
